

.welcome {
  font-family: Crimson Pro;
  font-weight: 100;
  font-size: 18px;
  line-height: 20px;
  padding-left: 50px;
  padding-top: 20px;
  display: inline-block;
  margin: 0 auto;
  float: left;
  vertical-align: center;
  color: rgba(0, 0, 0, 0.60)
}

.work {

font-family: Crimson Pro;
font-weight: 100;
font-size: 18px;
line-height: 20px;
padding-right: 57px;
padding-top: 20px;
display: inline-block;
margin: 0 auto;
float: right;
vertical-align: center;

color: rgba(0, 0, 0, 0.60)

}

.about-work:hover {
  color: #8EBAC8;
}

.about-text:hover {
  color: #8EBAC8;
}

.about {
  padding-right: 1em;
  padding-top: 20px;
  display: inline-block;
  margin: 0 auto;
  float: right;
  vertical-align: center;

}


.about-text {
  font-family: Crimson Pro;
  font-weight: 100;
  font-size: 18px;
  line-height: 20px;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.60)
}

.about-text-blue {
  font-family: Crimson Pro;
  font-weight: 100;
  font-size: 18px;
  line-height: 20px;
  text-decoration: none;
  color: #8EBAC8;
}

.about-work {
  font-family: Crimson Pro;
  font-weight: 100;
  font-size: 18px;
  line-height: 20px;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.60)
}

.about-work-blue {
  font-family: Crimson Pro;
  font-weight: 100;
  font-size: 18px;
  line-height: 20px;
  text-decoration: none;
  color:  #8EBAC8;
}

.Details {
  font-family: Crimson Pro;
  font-weight: 100;
  font-size: 18px;
  line-height: 24px;
padding-left: 50px;
padding-top: 20px;
display: inline-block;
    margin: 0 auto;
    float: left;
    vertical-align: center;
color: rgba(0, 0, 0, 0.58)
}

.details-right {

font-family: Crimson Pro;
font-weight: 100;
font-size: 18px;
line-height: 20px;
padding-right: 57px;
padding-top: 20px;
display: inline-block;
margin: 0 auto;
float: right;
vertical-align: center;

color: rgba(0, 0, 0, 0.58)

}

.links {
  box-sizing: border-box;
  display: inline-block;
  margin: 0 auto;
  text-align: center;
  color: rgba(0, 0, 0, 0.58)
  text-decoration: underline;

}

.button{
  font-family: Crimson Pro;
  font-weight: 100;
  font-size: 18px;
  width: 40px;
  height: 23px;
  border: .3px solid rgba(0, 0, 0, 0.58);
  text-align: center;
  float: right;
}

.button:hover {
  background-color: #8EBAC8;
}

.work-panel {
  float: center;
  font-family: Crimson Pro;
  font-weight: 100;
  font-size: 18px;
  text-decoration: none;
}

.about-panel {
  float: center;
  font-family: Crimson Pro;
  font-weight: 100;
  font-size: 18px;
  text-decoration: none;
  height: 380px;
}

.img-panel {
  border-top: solid 1px #FAFAFA;
  height: 400px;
  text-align: center;
}

.img {
  padding-top: 55px;
  width: 20%;
}

.resume {
  margin-top: 50px;
  text-decoration: none;
  color: #8EBAC8;
}

.about-p {
  margin-top: 100px;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.58);
  line-height: 26px;
  text-wrap: normal;
}

.about-p-div {
  padding-left: 35%;
  width: 30%;
  position:absolute;
}

.download {
  margin-top: 18px;
  height: 16px;
}

.header-left {
  height: 105px;
  border-bottom: solid 1px #FAFAFA;
}





.mo-img {
  display: none;
}

.mo-img-panel {
  display: none;
}

.mo-download {
  display: none;
}

.mo-about-panel {
  display: none;
}

.mo-resume {
  display: none;
}

.mo-about-p-div {
  display: none;
}

.mo-about-p {
  display: none;
}

.mo-work-panel {
  display: none;
}

@media only screen and (max-device-width: 480px) {

  .about-panel {
    display: none;
  }

  .img-panel {
    display: none;
  }

  .mo-img {
    display:inline;
    padding-top: 160px;
    width: 55%;
  }

  .mo-img-panel {
    display:inherit;
    border-top: solid 1px #000000;
    height: 500px;
    text-align: center;
  }

  .mo-download {
    display: inline-block;
    margin-top: 40px;
    height: 40px;
  }

  .mo-about-panel {
    display:block;
    float: center;
    font-family: Crimson Pro;
    font-weight: 100;
    font-size: 52px;
    text-decoration: none;
    height: 1000px;
  }

  .mo-resume {
    display:contents;
    margin-top: 50px;
    text-decoration: none;
    color: #8EBAC8;
  }

  .mo-about-p-div {
    display: block;
    padding-left: 17%;
    width: 65%;
    position:absolute;
  }

  .mo-about-p {
    display:block;
    margin-top: 200px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.58);
    line-height: 62px;
    text-wrap: normal;
  }

  .details-right {

    font-family: Crimson Pro;
    font-weight: 100;
    font-size: 45px;
    line-height: 55px;
    padding-right: 57px;
    padding-top: 15px;
    display: inline-block;
    margin: 0 auto;
    float: right;
    vertical-align: center;

    color: rgba(0, 0, 0, 0.58)

  }

  .button{
    font-family: Crimson Pro;
    font-weight: 100;
    font-size: 45px;
    width: 105px;
    height: 60px;
    border: 1px solid rgba(0, 0, 0, 0.58);
    text-align: center;
    float: right;
  }

  .Details {
    font-family: Crimson Pro;
    font-weight: 100;
    font-size: 45px;
    line-height: 55px;
    padding-left: 50px;
    padding-top: 25px;
    display: inline-block;
    margin: 0 auto;
    float: left;
    vertical-align: center;
    color: rgba(0, 0, 0, 0.58)
  }

  .header-left {
    height: 250px;
    border-bottom: solid 1px #000000;
  }

  .welcome {
    font-family: Crimson Pro;
    font-weight: 100;
    font-size: 45px;
    line-height: 55px;
    padding-left: 50px;
    padding-top: 20px;
    display: inline-block;
    margin: 0 auto;
    float: left;
    vertical-align: center;
    color: rgba(0, 0, 0, 0.60)
  }

  .about-work-blue {
    font-family: Crimson Pro;
    font-weight: 100;
    font-size: 45px;
    line-height: 20px;
    text-decoration: none;
    color: #8EBAC8;
  }

  .about-work {
    font-family: Crimson Pro;
    font-weight: 100;
    font-size: 45px;
    line-height: 20px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.60)
  }

  .about {
    padding-right: 40px;
    padding-top: 30px;
    display: inline-block;
    margin: 0 auto;
    float: right;
    vertical-align: center;

  }

  .work {
    padding-right: 50px;
    padding-top: 30px;
    display: inline-block;
    margin: 0 auto;
    float: right;
    vertical-align: center;

  }

  .about-text {
    font-family: Crimson Pro;
    font-weight: 100;
    font-size: 45px;
    line-height: 20px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.60)
  }

  .about-text-blue {
    font-family: Crimson Pro;
    font-weight: 100;
    font-size: 18px;
    line-height: 20px;
    text-decoration: none;
    color: #8EBAC8;
  }

  .mo-work-panel {
    display: contents;
    float: center;
    font-family: Crimson Pro;
    font-weight: 100;
    font-size: 18px;
    text-decoration: none;
  }

  .work-panel {
    display: none;
  }

  .about-text-blue {
    font-family: Crimson Pro;
    font-weight: 100;
    font-size: 45px;
    line-height: 20px;
    text-decoration: none;
    color: #8EBAC8;
  }

}
