.welcome {
  font-family: Crimson Pro;
  font-weight: 100;
  font-size: 18px;
  line-height: 20px;
padding-left: 50px;
padding-top: 20px;
display: inline-block;
    margin: 0 auto;
    float: left;
    vertical-align: center;
color: rgba(0, 0, 0, 0.60)
}

.work {

font-family: Crimson Pro;
font-weight: 100;
font-size: 18px;
line-height: 20px;
padding-right: 57px;
padding-top: 20px;
display: inline-block;
margin: 0 auto;
float: right;
vertical-align: center;

color: #8EBAC8;

}

.about {
  font-family: Crimson Pro;
  font-weight: 100;
  font-size: 18px;
  line-height: 20px;
  padding-right: 1em;
  padding-top: 20px;
  display: inline-block;
  margin: 0 auto;
  float: right;
  vertical-align: center;

color: rgba(0, 0, 0, 0.58)

}

.Details {
  font-family: Crimson Pro;
  font-weight: 100;
  font-size: 18px;
  line-height: 24px;
padding-left: 50px;
padding-top: 20px;
display: inline-block;
    margin: 0 auto;
    float: left;
    vertical-align: center;
color: rgba(0, 0, 0, 0.58)
}


.header-left {
  height: 105px;
  border-bottom: solid 1px #FAFAFA;
}
