.welcome {
  font-family: Crimson Pro;
  font-weight: 100;
  font-size: 18px;
  line-height: 20px;
padding-left: 50px;
padding-top: 20px;
display: inline-block;
    margin: 0 auto;
    float: left;
    vertical-align: center;
color: rgba(0, 0, 0, 0.60)
}

.work {

font-family: Crimson Pro;
font-weight: 100;
font-size: 18px;
line-height: 20px;
padding-right: 57px;
padding-top: 20px;
display: inline-block;
margin: 0 auto;
float: right;
vertical-align: center;

color: rgba(0, 0, 0, 0.60)

}

.about-work:hover {
  color: #8EBAC8;
}

.about-text:hover {
  color: #8EBAC8;
}

.about {
  padding-right: 1em;
  padding-top: 20px;
  display: inline-block;
  margin: 0 auto;
  float: right;
  vertical-align: center;

}

.about-text {
  font-family: Crimson Pro;
  font-weight: 100;
  font-size: 18px;
  line-height: 20px;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.60)
}

.about-text-blue {
  font-family: Crimson Pro;
  font-weight: 100;
  font-size: 18px;
  line-height: 20px;
  text-decoration: none;
  color: #8EBAC8;
}

.about-work {
  font-family: Crimson Pro;
  font-weight: 100;
  font-size: 18px;
  line-height: 20px;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.60)
}

.about-work-blue {
  font-family: Crimson Pro;
  font-weight: 100;
  font-size: 18px;
  line-height: 20px;
  text-decoration: none;
  color:  #8EBAC8;
}

.Details {
  font-family: Crimson Pro;
  font-weight: 100;
  font-size: 18px;
  line-height: 24px;
padding-left: 50px;
padding-top: 20px;
display: inline-block;
    margin: 0 auto;
    float: left;
    vertical-align: center;
color: rgba(0, 0, 0, 0.58)
}

.details-right {

font-family: Crimson Pro;
font-weight: 100;
font-size: 18px;
line-height: 20px;
padding-right: 57px;
padding-top: 20px;
display: inline-block;
margin: 0 auto;
float: right;
vertical-align: center;

color: rgba(0, 0, 0, 0.58)

}

.links {
  box-sizing: border-box;
  display: inline-block;
  margin: 0 auto;
  text-align: center;
  color: rgba(0, 0, 0, 0.58)
  text-decoration: underline;

}

.button{
  font-family: Crimson Pro;
  font-weight: 100;
  font-size: 18px;
  width: 40px;
  height: 23px;
  border: .3px solid rgba(0, 0, 0, 0.58);
  text-align: center;
  float: right;
}

.button:hover {
  background-color: #8EBAC8;
}

.work-panel {
  float: center;
  font-family: Crimson Pro;
  font-weight: 100;
  font-size: 18px;
  text-decoration: none;
}

.about-panel {
  float: center;
  font-family: Crimson Pro;
  font-weight: 100;
  font-size: 18px;
  text-decoration: none;
  height: 380px;
}

.img-panel {
  border-top: solid 1px #FAFAFA;
  height: 400px;
  text-align: center;
}

.img {
  padding-top: 55px;
  width: 20%;
}

.resume {
  margin-top: 50px;
  text-decoration: none;
  color: #8EBAC8;
}

.about-p {
  margin-top: 100px;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.58);
  line-height: 26px;
  text-wrap: normal;
}

.about-p-div {
  padding-left: 35%;
  width: 30%;
  position:absolute;
}

.download {
  margin-top: 18px;
  height: 16px;
}

.header-left {
  height: 105px;
  border-bottom: solid 1px #FAFAFA;
}
